---
import Layout from "@/layouts/Layout.astro";
import Carousel from "@/components/carousel.astro";
import Logo from "@/icons/logo.astro";
import { db, Productos } from "astro:db";
import { eq } from "astro:db";
import AddToCart from "@/components/react/addItem";

const preenterno = await db.select().from(Productos).where(eq(Productos.categoria, "cat_preentreno"));
const suplementos = await db.select().from(Productos).where(eq(Productos.categoria, "cat_aminoacidos"));
---

<Layout title="Home - Store">
  <span class="size-32 bg-blue-500/10 absolute rounded-full blur-2xl"></span>
  <span class="size-32 bg-blue-500/10 absolute rounded-full blur-2xl right-0 top-48"></span>

  <header class="mx-auto container p-4">
    <Logo class="my-24 block mx-auto invert max-w-fit svg-elem-1 svg-active w-full" />
    <p class="text-4xl text-pretty leading-tight -mt-15 mb-15 text-center font-light">
      Tu tienda de confianza para suplementos y ropa deportiva
    </p>
  </header>

  <section class="relative w-full border-t border-blue-500/30 mt-10 overflow-hidden">
    <div class="absolute left-1/2 -translate-1/2 w-full aspect-square rounded-full bg-blue-950/20 blur-[200px]"></div>

    <div class="my-20">
      <h2 class="text-6xl md:text-right font-bold p-12 leading-0">Suplementos</h2>
      <p class="text-2xl md:text-right font-light px-12 pb-12 text-gray-200">Los ultimos suplementos alimenticios del suprabox!</p>

      <Carousel perspective index={preenterno.length - 3} align="center" id="suplementos">
        {
          preenterno.map((producto) => (
            <div class="panel h-[700px] mask-b-from-80% mask-b-to-90% ">
              <article class="relative h-full  shadow shadow-neutral-100/5 group rounded-2xl overflow-hidden transition-all duration-" >
                <img class="w-full absolute inset-0 h-[80%]  object-cover opacity-60 transition duration-300 blur-[200px]" src={producto.imagen} alt={producto.nombre} />
                <img class="w-full object-contain opacity-60 my-10 transition duration-300 -mt-0" src={producto.imagen} alt={producto.nombre} />
                <div class="px-6 ">
                  <h2 class="text-2xl font-bold mb-2">{producto.nombre}</h2>
                  <p class="text-gray-600 mb-2">{producto.descripcion}</p>
                </div>
              </article>
            </div>
          ))
        }
      </Carousel>
    </div>
  </section>

  <section class="relative w-full border-t border-amber-500/30 overflow-hidden">
    <div class="absolute left-1/2 -translate-1/2 w-full aspect-square rounded-full bg-amber-950/20 blur-[200px]"></div>
    <div class="my-30">
      <h2 class="text-6xl md:text-left font-bold p-12 leading-0">Pre-entreno</h2>
      <p class="text-2xl md:text-left font-light px-12 pb-12 text-gray-200">Mejora tu potencia fisica con lo mejor!</p>

      <Carousel index={2} align="center" id="ropa">
        {
          suplementos.map((producto) => (
          <div class="panel h-[700px]">
              <article class="relative h-full  shadow shadow-neutral-100/5 group rounded-2xl overflow-hidden transition-all duration-" >
                <img class="w-full absolute inset-0 h-[80%]  object-cover opacity-60 transition duration-300 blur-[200px]" src={producto.imagen} alt={producto.nombre} />
                <img class="w-full object-contain opacity-60 my-10 transition duration-300 -mt-0" src={producto.imagen} alt={producto.nombre} />
                <div class="px-6 ">
                  <h2 class="text-2xl font-bold mb-2">{producto.nombre}</h2>
                  <p class="text-gray-600 mb-2">{producto.descripcion}</p>
                </div>
              </article>
            </div>
          ))
        }
      </Carousel>
    </div>
  </section>
</Layout>

<style>
  .panel {
    width: 400px;
    margin-inline: 0.645rem;
    border-radius: 1rem;
    overflow: hidden;
    pointer-events: none;
  }
</style>
